@use '../abstracts' as *;

body {
	min-height: 100vh;
	padding: {
		inline: 1.25rem;
		top: 4vw;
		bottom: 7.5rem;
	}
	background-color: $primary-bg;

	@media (min-width: 500px) {
		padding-inline: 10vw;
	}
}