@use '../abstracts' as *;

.site-header {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  gap: 3rem;
}

@media (max-width: 949px) {

  .header-nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0);
    transition: background-color 500ms ease,
                z-index 500ms;
    z-index: -1;
  }

  .header-nav.active {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .nav-container {
    position: absolute;
    width: 70vw;
    height: 100vh;
    right: 0;
    flex-direction: column;
    padding: {
      top: 20vh;
      left: 2rem;
    }

    background-color: $primary-bg;
    transform: translateX(100%);
    transition: transform 500ms ease;
  }

  .nav-container.expanded {
    transform: translateX(0);
  }

}

@media (min-width: 950px) {
  .nav-container {
    height: 100%;
    align-items: center;
  }
}
