.main-content {
	margin-top: 3vw;
	display: grid;
	gap: 1.5rem;


}

@media (min-width: 801px) {

	.main-content {
		grid-template-columns: repeat(3, 1fr);
	}

	.main-img    { grid-area: 1 / 1 / 2 / span 2; }
	.main-title  { grid-area: 2 / 1 / 3 / 2; }
	.main-desc	 { grid-area: 2 / 2 / 3 / 3; }
	.main-side   { grid-area: 1 / 3 / span 2 / -1; }
	.main-bottom { grid-column: 1 / -1 }

}