@use '../abstracts' as *;

.main-title {
  align-self: center;
}

.main-desc {
  position: relative;
  height: 100%;
  align-self: center;

  .read-more-link {
    position: absolute;
    bottom: 0;
    padding: {
      block: 1rem;
      inline: 2rem;
    }

    background-color: $primary-red;
    text: {
      transform: uppercase;
      decoration: none;
    }
    letter-spacing: 0.25em;
    font-family: 'Inter Bold';
    color: white;
  }

}