@use '../abstracts/variables' as *;

h1 { 
	font: {
		family: 'Inter Extra Bold';
		size: 4em;
	}
}

h2 { 
	font: {
		family: 'Inter Bold';
		size: 3em;
	}
}

h3 { 
	font: {
		family: 'Inter Bold';
		size: 2em;
	}
}

p,
a {
	font: {
		family: 'Inter Regular';
		size: 1em;
	}
	color: $dark-grayish-blue;
}